img {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 50px;
  color:darkblue;
  word-spacing: 4px;
  letter-spacing: 2px;
  
}

body {
  text-align: center;
  background-image: url(https://process.fs.grailed.com/AJdAgnqCST4iPtnUxiGtTz/cache=expiry:max/rotate=deg:exif/resize=width:2400,fit:crop/output=quality:70/compress/https://process.fs.grailed.com/NuwT7nlHSpuIPozjKXIc);

}

.wrapper {
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  background-color: grey;
}


p {
  font-size: 25px;
  color: black;
  font-family: 'Special Elite', cursive;
}

ul {
  font-style: italic ;
  font-size: 25px;
}

.polaroid {
  display: block;
  width: 25%;
  height: 50%;
  background-color: whitesmoke;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  
}

.container {
  text-align: center;
  padding: 10px 20px;
  
}
.container p {
  color: darkblue;
  text-transform: uppercase;
  font-weight: 600;
}

.topnav {
  background-color: #4F814E;
  overflow: hidden;
  padding: 50px 50px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.topnav a.active{
  background-color: #222e96;
  color: white;
}

.topnav p {
  float: left;
  color: #f2f2f2;
  text-align: center;
  font-size: 40px;
  padding: 20px 25px;
}